@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --background: #f5f5eb;
  --grey: #acacac;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  border-bottom: 1px solid var(--grey);
  padding: 1rem;
}

.meme img {
  max-width: 100%;
}

.accordion {
  padding: 0 0.5rem;
  background-color: var(--background);
}

.meme {
  padding: 1rem 0;
}

.meme:not(:last-of-type) {
  border-bottom: 1px solid var(--grey);
}

.meme__label {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.meme__label .state-icon {
  font-size: 1.8rem;
  color: #acacac;
  transition: 0.4s;
}

.meme__content {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: 0.4s;
}

.meme input {
  display: none;
}

.meme:hover .meme__content,
.meme input:checked ~ .meme__content {
  max-height: 100vh;
  padding: 1rem;
}

.meme:hover .state-icon,
.meme input:checked ~ .meme__label .state-icon {
  transform: rotate(135deg);
}
