@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --background: #f5f5eb;
  --grey: #acacac;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  border-bottom: 1px solid var(--grey);
  padding: 1rem;
}

.meme img {
  max-width: 80%;
  padding-top: 1rem;
}

.accordion {
  padding: 0 0.5rem;
  background-color: var(--background);
}

.meme {
  padding: 1rem 0;
}

.meme:not(:last-of-type) {
  border-bottom: 1px solid var(--grey);
}

.meme__label {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.meme input:not(:checked) ~ .meme__label {
  color: blue;
}

.meme__label .state-icon {
  display: none;
  font-size: 1.8rem;
  transition: transform 0.4s;
}

.meme__content {
  display: flex;
  max-height: 0;
  transform: scale(0);
  justify-content: center;
  overflow: hidden;
  transition: transform 0.6s;
}

.meme input {
  display: none;
}

.meme:hover .meme__content,
.meme input:checked ~ .meme__content {
  max-height: 100vh;
  transform: scale(1);
}

.meme:hover .state-icon,
.meme input:checked ~ .meme__label .state-icon {
  transform: rotate(135deg);
}

@media (hover: hover) {
  .accordion * {
    cursor: pointer;
  }
  .accordion:hover .state-icon {
    display: block;
  }
  .accordion:hover .meme__label {
    color: black !important;
  }
  .meme:active .meme__label {
    color: blue !important;
  }
}

.meme:active {
  opacity: 0.8;
}
